
.product {
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h2 {
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
}

.quantity {
    margin: 20px 0;
}

.quantity button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#quantity {
    font-size: 18px;
    width: 50px;
    border: 1px solid #ccc;
    text-align: center;
}

#add-to-cart {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}